<h1>Home#index</h1>
<h1>Alert Dismissing</h1>

<div class="alert">
    <p class="alert-close">&times;</p>
    <p> Holy guacamole! You should check in on some of those fields below. </p>
</div>

<h1>Collapse</h1>

<button class="btn collapse-btn">Collapse button</button>
<div class="collapse-content">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
</div>
<br>
<br>
<h1>Collapse Accordion</h1>

<div class="collection-acordion">
    <div>
        <button class="collection-acordion-btn" data-target="accordion-1">Section 1</button>
    </div>
    <div class="div-accordion" id="accordion-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus elit id magna suscipit ullamcorper nec in diam. Cras id. 
    </div>

    <div>
        <button class="collection-acordion-btn" data-target="accordion-2">Section 2</button>
    </div>
    <div class="div-accordion" id="accordion-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus elit id magna suscipit ullamcorper nec in diam. Cras id.
    </div>

    <div>
        <button class="collection-acordion-btn" data-target="accordion-3">Seccion 3</button>
    </div>
    <div class="div-accordion" id="accordion-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus elit id magna suscipit ullamcorper nec in diam. Cras id.
    </div>
</div>